absl-py
altair
attrs
blinker
Brotli 
cachetools
certifi 
charset-normalizer 
click
colorama
contourpy
cycler
filelock 
fonttools
fsspec
gitdb
GitPython
grpcio
idna 
Jinja2 
jsonschema
jsonschema-specifications
kiwisolver
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath 
mss
networkx 
numpy 
opencv-python
packaging
pandas
pillow 
protobuf
psutil==5.9.8
py-cpuinfo==9.0.0
pyarrow==16.1.0
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.1.2
PySocks 
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML 
referencing==0.35.1
requests 
rich==13.7.1
rpds-py==0.18.1
scipy==1.13.1
seaborn==0.13.2
setuptools==69.5.1
six==1.16.0
smmap==5.0.1
streamlit==1.35.0
sympy
tbb==2021.12.0
tenacity==8.3.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
thop==0.1.1.post2209072238
toml==0.10.2
toolz==0.12.1
torch==2.3.0
torchaudio==2.3.0
torchvision==0.18.0
tornado==6.4
tqdm==4.66.4
typing_extensions 
tzdata==2024.1
ultralytics==8.2.27
urllib3
watchdog==4.0.1
Werkzeug==3.0.3
wheel==0.43.0
win-inet-pton
